@use "../all-vars" as *;

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-y:unset;
  @include break-under(tablet) {
    overflow-x: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: $color-bg-1;
  color:$color-text;
  font-family: $font-sans;
  font-size: $font-size-standard;
  line-height: $line-height-standard;
  text-align: left;
  overflow-x: hidden;
  ::selection{
    background-color: $color-accent--light;
    color: $black;
  }
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }

  font-synthesis: inherit;
}

address {
  font-size: inherit;
  font-style: inherit;
}

figure {
  margin: 0;
}

.touch {
  cursor: pointer;
}

::selection {
  color: $white;
}

h1{
  font-size: 2.6rem;
}
h2, h3, h4, h5{
  font-size: 2.2rem;
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a{
  outline: none;
  color: $color-link;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: all 10ms ease-out;
  &:hover{
	text-decoration: none;
  }
  &:active{
    outline: 2px solid $color-accent;
  }
  &:focus{
    outline: 2px solid $color-accent;
	text-decoration: none;
  }
}

button{
  transition: all 100ms ease-out;
}

.sr {
  display: none;
}

ul li{
  list-style: none;
}

svg, svg path{
  fill:currentcolor;
}

.dark{
  background-color: #333333;
  color:$white;
  p, li, a{
    color:$white;
  }
}

// Padding

.padding{
  padding-top:$padding-deep;
  padding-bottom: $padding-deep;
  .c-product-details &{
    padding-top:$padding-deep;
    padding-bottom: $padding-deep;
  }
}
.nopaddingtop{
  padding-top:0!important;
}
.nopaddingbottom{
  padding-bottom: 0!important;
}
.nopaddingtopbottom{
  padding-top:0!important;
  padding-bottom: 0!important;
}

.nomargintop{
  margin-top:0!important;
}
.nomarginbottom{
  margin-bottom: 0!important;
}
.nomargin{
  margin-top:0!important;
  margin-bottom: 0!important;
}


// backgrounds

.background--white{
  background-color:$white;
}

// Hide for screen readers
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}