@use "../all-vars" as *;

.o-footer {
	@include gap(margin-bottom, 4);

	&__text {
		@include text-footer;
	}

	&__inner {
		@include gap(padding-top, 2);
		text-align: center;

		body.home & {
			@extend .o-row-container--wide;
		}
	}
}