@use "../all-vars" as *;

.o-header {
	@include gap(padding-top, 1);
	position: relative;

	&__container {
		width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	&__logo {
		color: $color-bitcoin;
		display: block;
		transition: 0.1s;
		width: 22px;
		height: 29px;
		flex-shrink: 0;

		svg {
			width: 22px;
			height: 29px;
			height: auto;
		}
	}

	&__title {
		width: 100%;
		display: flex;
		gap: $gap;
		flex-direction: row;
		align-items: center;

		&::after {
			@include break(mobile) {
				content: '';
				height: 1px;
				background-color: $color-accent;
				flex-grow: 1;
				width: 100%;
			}
		}

		&__inner {
			display: flex;
			gap: .5em;
			flex-direction: column;
			flex-shrink: 0;

			@include break(mobile) {
				flex-direction: row;
				align-items: center;
			}
		}

		.home & {
			&::before {
				@include break(mobile) {
					content: '';
					height: 1px;
					background-color: $color-accent;
					flex-grow: 1;
					width: 100%;
				}
			}
		}
	}

	&__site-name {
		@include text-site-name;
		color: $white;
		display: block;
		flex-shrink: 0;
		display: flex;
		gap: .5em;
		align-items: center
	}

	&__site-tagline {
		@include text-site-name;
		color: $color-primary;
		display: block;
		flex-shrink: 0;
	}

	&__link {
		white-space: nowrap;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
}