@use "../all-vars" as *;

$title-stroke-color: rgba(228, 170, 170, .8);
.o-single{
  &__hero{
    &__container{
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      align-content: center;
    }
    &__image{
      position: relative;
      aspect-ratio: 64/36;
      width: 100%;
      max-width: 640px;
      display: block;
      img{
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
      }
      &::after{
        content: '';
        width: 84%;
        height: calc(100% - 10px);
        border:1px solid $color-primary;
        background: transparent;
        position: absolute;
        left: 5px;
        top: 5px;
        bottom: 5px;
        z-index: 1;
      }
    }
    &__title{
      @include text-page-title;
      background: $color-bg-1;
      color: white;
      text-align: right;
      .o-single__hero--image &{
        width: 70%;
        right: 30%;
        @include break(tablet){
          width: 50%;
          right: 50%;
        }
      }
      z-index: 2;
      border-bottom: 1px solid $color-primary;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      display: block;
      padding: .2em;
      padding-left: 0;
    }
    // Variation: with no image
    &--no-image{
      .o-single__hero{
        &__container{
          display: block;
          position: relative;
        }
        &__title{
          position: relative;
          top: unset;
          right: unset;
          transform: unset;
          margin-top: clamp(2rem, 5vw, 5rem);
          margin-bottom: clamp(2rem, 5vw, 5rem);
          width: 100%;
          text-align: left;
          @include break(tablet){
            width: 70%;
            text-align: right;
          }
          @include break(tablet){
            width: 50%;
          }
        }
        &__image{
          display: none;
        }
      }
    }
  }
  &__metadata{
    display: flex;
    gap: .4em 1em;
    @include text-meta;
    align-self: center;
    flex-wrap: wrap;
    @include gap(margin-top, 2);
    @include break(tablet){
      flex-wrap: unset;
    }
    &__item{
      line-height: 1;
      @include break(tablet){
        flex-shrink: 0;
      }
    }
    &__divider{
      line-height: 1;
      align-self: center;
      display: none;
      @include break(mobile){
        display: block;
      }
    }
  }
  &__content{
    @include text-format;
    position: relative;
    @include gap(margin-top, 3);
  }
  &__cta{
    gap: 3rem;
    display: flex;
    align-items: center;
    &__button{
      flex-shrink: 0;
    }
    &::after{
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      background-color: $color-accent;
    }
  }
  &__tldr{
    p{
      @include text-intro;
      margin-bottom: 0;
      padding-left: unset;
      color: $white;
    }
  }
  &__featured-image{
    width: 100%;
    aspect-ratio: 64/36;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    //background-color: $color-primary;
    //background-blend-mode: multiply;
    position: relative;
  }
}