// Breakpoints
$breakpoints: (
    mobile: 22.438rem, // 359px
    mobile-land: 32rem, // 512px
    tablet: 40.063rem, // 641px
    desktop: 50rem, // 800px
    desktop-mini: 55rem, // 880px
    desktop-med: 64.063rem, // 1025px
    mobile-nav: 68.125rem, // 1090px
    desktop-wide: 75rem, // 1200px
    desktop-wider: 83.75rem, // 1340px
    desktop-xl: 88rem, // 1408px
    site-width-margins:$site-width-narrow-margins,
    site-width-wide-margins:$site-width-wide-margins,
    site-width: calc($site-width-narrow-margins + 60px)
);
$breakpoints--h: (
    letterbox: 900px
);

// breakpoint mixins
@mixin break($breakpoint: medium) {
  @if map-has-key($breakpoints, $breakpoint) {
      @media screen and (min-width: map.get($breakpoints, $breakpoint)) {
          @content;
      }
  }
}

@mixin break-under($breakpoint: medium) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: map.get($breakpoints, $breakpoint)) {
        @content;
    }
  }
}

@mixin break-between($breakpoint-lower, $breakpoint-higher){
  @media screen and (min-width: map.get($breakpoints, $breakpoint-lower)) and (max-width: map.get($breakpoints, $breakpoint-higher)) {
    @content;
  }
}

// height 
@mixin break--h($breakpoint) {
  @if map-has-key($breakpoints--h, $breakpoint) {
      @media screen and (max-height: map.get($breakpoints--h, $breakpoint)) and (orientation: landscape) {
          @content;
      }
  }
}