body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  color:black;
  font-family: $font-sans;
  font-size: $font-size-standard;
  text-align: left;
  overflow-x: hidden;
  ::selection{
    background-color: $color-accent--light;
    color: $black;
  }
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }

  font-synthesis: inherit;
}

address {
  font-size: inherit;
  font-style: inherit;
}

figure {
  margin: 0;
}

.touch {
  cursor: pointer;
}

::selection {
  color: $white;
}

h1{
  font-size: 2.6rem;
}
h2, h3, h4, h5{
  font-size: 2.2rem;
}

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a{
  outline: none;
  color: inherit;
  text-decoration: none;
  transition: all 100ms ease-out;
  &:active{
    outline: 2px solid $color-accent;
  }
  &:focus{
    outline: 2px solid $color-accent;
  }
}

button{
  transition: all 100ms ease-out;
}

.sr {
  display: none;
}

ul li{
  list-style: none;
}

svg, svg path{
  fill:currentcolor;
}