.wp-block-post-content{
    @include text-format;
    p, li{
        font-size: $font-size-standard;
        font-weight: 400;
        a{
            color: $color-accent;
            text-decoration: underline;
        }
    }
}
.wp-block-post-title{
    margin-bottom: 3rem;
    margin-top: 1em!important;
}