$asset-path: '/wp-content/themes/starter/assets/src';
$path-images: '/wp-content/themes/starter/assets/src/img';

$header-height: 147px;
$header-height-mobile: 82px;

$site-width-narrow: 900px;
$site-width-narrow-margins: calc(900px + 3rem);
$site-width-wide-margins: calc(900px + 3rem);

$grid-gap: clamp(0.5rem, 3vw, 4.5rem);

$white: #ffffff;
$black: #000000;

// color options
$teal: #21C4B2;
$color-bitcoin: #f7931a;

// colors
$color-accent: $color-bitcoin;
$color-accent--light: color.adjust($color-accent, $lightness: 10%);

// Background colors
$color-bg-1: #161616;
$color-bg-2: #161616;

// for testing
$gold: rgb(242, 208, 14);
$yellow: rgb(255, 255, 0);

// Text colors
$color-text: #ffffff;
$color-text-reverse: #333333;

// line color
$color-line: #F2F2F2;
$color-line-dark: #d8d8d8;
// for dark background
$color-line-solid: #707070;
$color-line-off-black: #333333;

// standard border
$borderline: 2px solid $color-line;
$borderline-darker: 2px solid $color-line-dark;
$borderline-solid: 2px solid $color-line-solid;

// fancy transitions
$move-whip: cubic-bezier(0.8, 0, 0.3, 1);
$move-snap: cubic-bezier(0.7, -0.5, 0.3, 1.5);
$move-snap-in: cubic-bezier(0.6, -0.3, 0.7, 0);
$move-snap-out: cubic-bezier(0.2, 0.9, 0.3, 1.3);
$fast-to-slow: cubic-bezier(0.11, 0.71, 0.46, 0.91);

// misc
$border-radius: 3px;

$color-text-link: $color-accent;