---
layout: layouts/base.njk
---

<article class="post">
  <header class="post-header">
    <h1>{{ title }}</h1>

	{# {% if date %}
		Date: {{ post.date | date: "%m.%d.%y" }}
	{% endif %} #}
  </header>

  <div class="post-content">
    {{ content | safe }}
  </div>
</article>
