<?php
$excerpt = get_the_excerpt(get_the_ID());
$block_height = get_field('block_height', get_the_ID());
$post_thumb = has_post_thumbnail();
?>

<div class="c-card">
    <div class="c-card__thumb">
        <?php if ($post_thumb) : ?>
            <?php echo get_the_post_thumbnail( get_the_ID(), 'card' ); ?>
        <?php endif; ?>
    </div>
    <div class="c-card__main">
        <h1 class="c-card__title">
            <?php the_title() ?>
            <a class="c-card__title__link" href="<?php the_permalink(); ?>">
                <span class="visually-hidden">Read about <?php the_title() ?></span>
            </a>
        </h1>
        <div class="c-card__metadata">
            <div class="c-card__metadata__item">
                Date: <?php echo get_the_time( 'm.d.y' ); ?>
            </div>
            <?php if($block_height) : ?>
                <span class="c-card__metadata__divider">/</span>
                <div class="c-card__metadata__item">
                    <?php echo 'Block height: ' . $block_height; ?>
                </div>
            <?php endif; ?>
        </div>
        <div class="c-card__excerpt">
            <p>
                <?php echo esc_html( $excerpt ) ?>
            </p>
        </div>
    </div>
</div>