<footer class="o-footer">
    <div class="o-row nomargin">
        <div class="o-row-container o-footer__inner">
            <p class="o-footer__text">
                <a target="_blank" href="https://twitter.com/bazzle">@bazzle</a> &nbsp;–&nbsp; {{ page.name }}&nbsp;<span class="getyear"></span>
            </p>
        </div>
    </div>
</footer>