<div class="o-index">
	<div class="o-row">
		<div class="o-row-container--wide">
			<div class="o-index o-index__container">
				{% for post in collections.posts | sort(attribute="date") | reverse %}
				<div class="o-index__item">
					{% include "partials/card.njk" %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
