<header class="o-header">
    <div class="o-row nomargin">
		<div class="o-row-container o-header__container {{ 'o-row-container--wide' if page.url == '/' }}">
			{% if page.url == '/' %}
				<h1 class="o-header__title">
					{% include "partials/header_title_inner.njk" %}
				</h1>
			{% else %}
				<h1 class="o-header__title">
					{% include "partials/header_title_inner.njk" %}
				</h1>
			{% endif %}

            <a class="o-header__link" href="/"><span class="visually-hidden">{{ site.name }} - {{ site.tagline }}</span></a>
        </div>
    </div>
</header>