<header class="o-header">
    <div class="o-row nomargin">
		<div class="o-row-container o-header__container {{ 'o-row-container--wide' if page.url == '/' }}">
            <div class="o-header__title">
                <div class="o-header__title__inner">
                    <div class="o-header__site-name">
						{% if page.url == '/' %}
						<div class="o-header__logo">
							{% include "partials/logo.njk" %}
						</div>
						{% endif %}
                        <span>
							{{ page.name }}
                        </span>
                    </div>
                    {% if page.tagline %}
						<span class="o-header__site-tagline">
							{{ page.tagline }}
						</span>
                    {% endif %}
                </div>
            </div>
            <a class="o-header__link" href="/"></a>
        </div>
    </div>
</header>